body {
  background: linear-gradient(to bottom, #2c5364);
  font-family: "Segoe UI", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.status-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  background-color: #072540;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.status-container h1 {
  font-size: 28px;
  color: #4dc3ff;
  margin-bottom: 20px;
}

.status-container h2 {
  font-size: 18px;
  font-weight: normal;
  color: #dddddd;
}
